
.home_style{color: blue;}
body{
    display: flex;
    justify-content: center;
}
.header_section{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 2px 119px;
gap: 10px;

width: 1440px;
height: 90px;

background:#ffffff;
box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.header_row{
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 693px;

width: 1202px;
height: 64px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.header_logo{
    /* Header Logo */

margin: 0 auto;
width: 100px;
height: 64px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.header_menu{
  /* Header Menu Options Row */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 18px;

margin: 0 auto;
width: 457px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.header_links{
    /* Header Links */
display: flex;
justify-content: space-between;
width: 359px;
height: 19px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.header_menu_text{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
color: #495367;
}
.text_decor{
    text-decoration: none;
}

.hr_90{

width: 23.6px;
height: 1px;

border: 1px solid #000000;
transform: rotate(90deg);
flex: none;
order: 2;
flex-grow: 0;
}

